* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 100vh;
  background: linear-gradient(50deg, #de9b52 38%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(73deg, #efcf77 70%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(40deg, #fbf1b4 60%, #f9f2da 90%);
}
